<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/style.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar"></div>

    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
                <a :href="image_data.url"><img :src="image_data.image"  ></a>
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
<!--                <p v-if="image_data.instock">In Stock</p>-->
                <p v-if="image_data.inventory >10">In Stock</p>
                <p v-else-if="image_data.inventory <=10 && image_data.inventory > 0"> Almost sold out</p>
                <p v-else>Out of Stock</p>
                <p v-if="image_data.onsale">On Sale</p>
                <ul>
                    <li v-for="item in image_data.details">
                        {{item}}
                    </li>
                </ul>
                <ul>
                    <li v-for="(item ,index) in image_data.sizes  " :key="index">
                        {{item}}
                    </li>
                </ul>
                <div v-for="(item,index) in image_data.variants" :key="image_data.variants.id" >{{item.color  }}  <!--{{ index}} --></div>
            </div>
        </div>
    </div>
</div>

<!-- Import App -->
<script src="./main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>
